header {
  background-color: #09C4E2 ;
  padding: 10px;
  font-size: 12px;
}

nav {
  font-size:150%;
  background: #AED680;
  padding: 20px;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #28818F ;
  height: 280px;
}

section {
  width: 95%;
  padding: 20px;
  display: table;
  background: #B16F1C;
}

aside{
  background-color: #9758D3;
  padding: 10px;
  height:300px;
}

footer {
  background-color:#09C4E2  ;
  padding: 10px;
}
